
<ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
    <li class="breadcrumb-item" *ngIf="project; else loadingProject"><a [routerLink]="['/projects', projectId, 'workbooks']">Workbooks of project: {{project.name}}</a>
    </li>
    <ng-template #loadingProject>
        <li class="breadcrumb-item" ><a [routerLink]="['/projects', projectId, 'workbooks']">Loading project...</a> </li>
    </ng-template>
    <li class="breadcrumb-item" *ngIf="workbook; else loadingWorkbook">Views of workbook: {{workbook.name}}</li>
    <ng-template #loadingWorkbook>
        <li class="breadcrumb-item">Loading workbook...</li>
    </ng-template>
  </ol>
  
  <div class="container-fluid"  >
  
  
  
    <div class="animated fadeIn" >
  
      <div class="row">
        <!--/.col-->
        <div class="col-md-4" *ngFor="let view of views">
          <div class="row dragdrop">
            <div class="col-md-12">
              <div class="card card-accent-secondary" style="cursor:pointer;" (click)="goToView(view.contentUrl)">
  
                <div class="card-body" style='color:#000' id="workbook1">
  
                <img [src]="view.img" alt="{{workbook.name}}"
                  *ngIf="view.img; else noImageFound">
                <ng-template #noImageFound>
                <img src="assets/icons/Spinner.gif" alt="Image loading">
                </ng-template>
                   
                  
                </div>
                <div class="card-header " style='height:20px; padding: 0.10rem 0.10rem'>
                  <div style='color:blue; font-size:auto;text-align: center; font-weight: bold; font-style: italic'>
                    <a (click)="goToView(view.contentUrl)" >{{view.name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
  
      </div>
      <!--/.row-->
  
  
  
  
      <!--/.row-->
    </div>
  
  
  </div>
  <!-- /.conainer-fluid -->
  